*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: rgb(10, 10, 10);
    --white: rgb(255, 255, 255);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--black);
    font-family: "Poppins", serif;
}
.websitesPageContainer{
    min-height: 100vh;
    width: min(90%, 100rem);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 20px;
    background-color: transparent;
}
nav{
    display: flex;
    gap: 1.1rem;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
nav a:nth-child(1) {
    margin-right: auto;
    font-size: clamp(2rem, 2vw, 3rem)
}
a{
    color: var(--white);
    font-size: clamp(0.85rem, 2vw, 0.95rem);
    text-decoration: none;
}
#grid-container{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 26rem));
}
hr{
    width: 20rem;
    height: 0.1rem;
    color: gray;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.card img{
    width: min(100%, 27rem);
    height: min(100%, 37rem);
    border-radius: 10px;
}
.card a{
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.1rem);
}

